service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/posts/{postId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}